In [4]:
import numpy as np
import pandas as pd

In [5]:
with open('C:/Users/CR GAYATHRI/Desktop/Expert_level/NLP/w2_.txt','r') as f:
    text = f.read()

In [6]:
len(text)

16660623

In [8]:
text[:99]

'275\ta\ta\n31\ta\taaa\n29\ta\tall\n45\ta\tan\n192\ta\tand\n39\ta\tanother\n25\ta\tat\n82\ta\tb\n45\ta\tb+\n26\ta\tb-17\n31\ta\tb-2\n'

In [9]:
text[:99].split('\n')

['275\ta\ta',
 '31\ta\taaa',
 '29\ta\tall',
 '45\ta\tan',
 '192\ta\tand',
 '39\ta\tanother',
 '25\ta\tat',
 '82\ta\tb',
 '45\ta\tb+',
 '26\ta\tb-17',
 '31\ta\tb-2',
 '']

In [13]:
list1 = []
txt = text[:99].split('\n')
for i in txt:
    list1.append(i.split('\t'))
list1

[['275', 'a', 'a'],
 ['31', 'a', 'aaa'],
 ['29', 'a', 'all'],
 ['45', 'a', 'an'],
 ['192', 'a', 'and'],
 ['39', 'a', 'another'],
 ['25', 'a', 'at'],
 ['82', 'a', 'b'],
 ['45', 'a', 'b+'],
 ['26', 'a', 'b-17'],
 ['31', 'a', 'b-2'],
 ['']]

In [18]:
pd.DataFrame(list1, columns=['count','w1','w2'])

   count    w1       w2
0    275     a        a
1     31     a      aaa
2     29     a      all
3     45     a       an
4    192     a      and
5     39     a  another
6     25     a       at
7     82     a        b
8     45     a       b+
9     26     a     b-17
10    31     a      b-2
11        None     None

In [15]:
sample = text.split('\n')

In [16]:
sample_list = []
for txt in sample:
    sample_list.append(txt.split('\t'))

In [17]:
df_w = pd.DataFrame(sample_list, columns = ['count','w1','w2'])

In [19]:
df_w.shape

(1020386, 3)

In [20]:
df_w.head()

  count w1   w2
0   275  a    a
1    31  a  aaa
2    29  a  all
3    45  a   an
4   192  a  and

## word "I"

In [23]:
df_w.isnull().sum()

count    0
w1       1
w2       1
dtype: int64

In [24]:
df_w.dropna(inplace = True)

In [25]:
df_w['count'] = df_w['count'].astype(float)

In [26]:
df_w.head()

   count w1   w2
0  275.0  a    a
1   31.0  a  aaa
2   29.0  a  all
3   45.0  a   an
4  192.0  a  and

## Chain Rule

- $P(A|B) = P(A and B)/P(B)$

- $P(A and B) = P(A) * P(B|A)$  -- Prob of sentense

In [35]:
given = "I"
given = given.lower()
cond = df_w['w1'] == given
df_sort = df_w[cond].sort_values(by = 'count', ascending = False)

# Computing probabilities

count_w1 = df_sort['count'].sum() # count

prob_w1 = count_w1 / len(df_w) # computing prob of w1

df_sort['cond_prob'] = df_sort['count'] / count_w1
df_sort['prob'] = df_sort['cond_prob'] * prob_w1

In [36]:
df_sort.head()

           count w1     w2  cond_prob      prob
414823  317946.0  i  think   0.086135  0.311594
414983  258425.0  i    was   0.070010  0.253262
413240  254644.0  i     do   0.068986  0.249557
413599  146414.0  i   have   0.039665  0.143489
413576  114288.0  i    had   0.030962  0.112005

In [37]:
df_w.set_index('w1', inplace = True)

In [38]:

def nextword(given):
    cw1 = df_w.loc[given]['count'].sum() # count of word1
    df1 = df_w.loc[given].sort_values('count',ascending = False).head(3)
    words = list(df1['w2'])
    print(words)

In [39]:
nextword('i')

['think', 'was', 'do']

In [40]:
while True:
    given = input("USER : ")
    if given == "quit":
        break
    
    nextword(given)

USER : i
['think', 'was', 'do']
USER : a
['lot', 'few', 'little']
USER : quit